@import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);
/* Login Styles Stsrts */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


#signin {
    display: block;
}

h3,
h1,
p {
    margin: 1em auto;
    text-align: center;
}

p {
    margin-top: 10px;
}

form {
    width: 57vw;
    max-width: 60%;
    /* min-width: 300px; */
    margin: 30px auto;
    padding-bottom: 1em;
}

/* label {
    display: block;
    margin: 1.5rem 0;
  }
   */
/*
  input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  } */



input[type="submit"] {
    margin: 1em auto;
    height: 2em;
    background-color: #8989e4;
    border-color: white;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.preview-image {
    max-width: 200px;
    height: 200px;
    margin-right: 10px;
}

.caption {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.form-group input,
.form-select {
    border: #1b1b32 1px solid !important;
}

.preview-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    gap: 50px;
}

.logo {
    display: block;
    margin: 20px auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**************************************** valid and invalid CSS *****************************************/

.invalid {
    color: red;
    font-size: 12px;
}

.valid {
    color: green;
}

.permanentAddress.hidden {
    display: none;
}