@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Kannada&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 100%;
  position: relative;
  /* font-family: 'Noto Serif Kannada', serif; */
}

.card-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 2em !important;
}

legend {
  background-color: #f0f0f0;
  /* padding: 5px 10px; */
  width: 100%;
  border: 1px solid #ccc;
}



/* body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
} */

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #ffffff;
  font-weight: 480;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-navigation .main-menu .nav-link:hover {
  color: blue !important;
}

.site-navigation .main-menu li a {
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
}

.site-navigation .main-menu li a {
  color: #fff;
  transition: color 0.3s ease;
}

.site-navigation .main-menu li a:hover {
  color: #00f;
  background-color: #fff;
  border-radius: 5px;
}

.widget-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}




a,
a:hover {
  text-decoration: none !important;
  color: #007bff;
}

.logo {
  /* max-height: 100%; */
  /* width: 330px; */
  /* max-width: 100%; */
  height: 75px;
  width: 300px;
  object-fit: contain;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-image: url('images/Home.svg'); */
  background-image: url(/images/Home.svg);
}

@media (max-width: 767px) {
  .hero {
    height: 200vh;
    margin-top: -131px;
    /* Adjust the value as needed */
  }
}

.widget-posts-meta {
  width: 100px;
  text-align: center;
  border: 2px solid #d5d5d5;
  border-radius: 3px;
}

.widget-posts-meta span {
  display: flex;
}

.month {
  background: #2254a2;
  color: #fff;
  padding: 3px;
  border-radius: 2px 2px 0 0;
  justify-content: center;
}

.date {
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.year {
  font-size: 15px;
  color: #2254a2;
  margin: auto;
}

.table {
  vertical-align: middle;
  /* color: #144759; */
}

.bg-color {
  background-color: #025a99;
}

.av-font-kn {
  font-family: 'Nudi';
}

/* background-image: url('images/Home.svg'); */

/* .hero-myApp {
  padding: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-image: url('images/Home.svg'); */


.top-bar {
  padding: .5rem 0;
  background: linear-gradient(to right, #5233ff, #66ccff);
  font-size: 14px;
}

.site-logo img {
  max-width: 100%;
  height: auto;
}

.top-bar a {
  color: #ffffff;
}



.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}

.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff !important;
  background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
  background: #fff;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}

.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #007bff;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #007bff !important;
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

.carousel-caption {
  top: 14rem;
  z-index: 10;
}

h5,
h3 {
  color: #fff !important;
}

.login .card {
  height: 500px;
  width: 400px;
}

.hero-myApp {
  margin-top: 200px !important;
}

/* Footer */

.card-img-top {
  width: 30% !important;
}


/* .clsFooterTop {
  background: #222;
  padding: 50px 0 10px 0;
}

.clsFooterTop li a.text-light,
.clsFooterTop p.text-light {
  color: #999999 !important;
} */



/* .ksp-login {
  height: 100vh;
} */

/* .ksp-login .card {
  height: fit-content;
  width: fit-content;
  border-radius: 0;
} */

/* .ksp-login img {
  width: 300px;
} */

/* .ksp-login form input {
  width: 100%;
  height: 50px;
  border-radius: 0;
} */


/* my application */
/* .login-card img {
  height: 8vh;
  width: 100%;

} */

/* input[type="submit"] {
  margin: 1em auto;
  height: 2em;
  background-color: #8989e4;
  border-color: white;
  border-radius: 5px;
} */

input[type="text"],
input[type="date"] {

  /* background-color: #8989e4; */
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
}

.form-group input,
.form-select,
.form-control {
  border: #a9a9ae 1px solid !important;
}

.form-horizontal .form-control {
  box-shadow: none;
  border-radius: 5px;
  border-color: #000;
  /* border: #1b1b32 1px solid !important; */

}

.newapp span {
  margin-bottom: 1em;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  box-shadow: none;
  /* font-size: 6em; */
}

.heading-data {
  background: linear-gradient(to right, #5849ae, #5849ae);
  /* height: 35px; */
  /* padding: 8px; */
  color: #fff;
  font-weight: bold;
  /* letter-spacing: 1px; */
}

.font-left {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.av-sign img {
  width: 200px;
  height: 70px;
}

.av-img img {
  width: 200px;
  height: 200px;
}

.myapp-img img {
  width: 200px;
  height: 100px;
  /* border-radius: 50%; */

}

.myapp-field {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.myapp-font {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.myapp-icon {
  text-align: center;
  font-size: 1.5rem;
}

.myapp-img img {
  width: 100%;
  max-width: 100px;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1.5rem;
}

.row {
  margin: 0;
}

.av-mob-center {
  align-items: center;
}


/* new appliaction */

form {
  width: 57vw;
  /* max-width: 60%; */
  /* min-width: 300px; */
  margin: 30px auto;
  padding-bottom: 1em;
}

.form-group {
  margin-bottom: 20px;
}

.preview-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  gap: 50px;
}

.invalid {
  color: red;
  font-size: 12px;
}

.valid {
  color: green;
}

.permanentAddress.hidden {
  display: none;
}

/* .form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */


/* body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: url("https://i.imgur.com/GMmCQHC.png");
  background-repeat: no-repeat;
  background-size: 100% 100%
} */

.newappcard {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
  color: #00BCD4
}

.newappformcontroll {
  margin-bottom: 0
}

.newapp input,
textarea,
button,
select {
  padding: 8px 15px;
  border-radius: 5px !important;
  /* margin: 5px 0px; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300
}

.newapp input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer
}

.btn-block:hover {
  color: #fff !important
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}


.form-group.row.gender label {
  font-weight: bold;
}

.form-group.row.gender .form-check-inline {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.form-group.row.gender .form-check-inline input[type="radio"] {
  display: none;
}

.form-group.row.gender .form-check-inline label {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.form-group.row.gender .form-check-inline input[type="radio"]:checked+label {
  background-color: #337ab7;
  color: #fff;
}

.myapp-icon {
  line-height: 20px;
}

.btn-download-challan {
  width: 180px;
}

.challan {
  width: 100px;
}